body{
background-color:black;
color:white;
}
h1{
font-family:verdana;

}

h2{
color:#2A2B78;
font-size:50px;
font-family:College;

}
h3{
color:#E5E5E5;
font-family:Tahoma;
}
.adm{
font-size:20px;
}
.ca{
padding:0px;
margin:0px;
font-size:50px;
font-family:Calibri;
color:#BFBFBF;
}
